
.product-list {
    width: 80%;
    margin: 0 auto;
  }
  .product-item {
    position: relative;
    padding: 20px;
    text-align: center;
  }
  .product-item img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
  }
  .button-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  .slider-container {
    width: 100%;
  }
  